@model List<SklepNet_MVC.Models.CMS.Aktualnosci>

<div>
    <h2>
        Aktualności
    </h2>
    @foreach (var aktualnosc in Model)
    {
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#colapse-@aktualnosc.IdAktualnosc">
                            @aktualnosc.Tytul
                        </a>

                    </h4>
                </div>

                <div id="collapse-@aktualnosc.IdAktualnosc" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @aktualnosc.Tresc
                    </div>

                </div>
            </div>
        </div>

    }


</div>
